
$this->app->router->group(['prefix' => 'ParamUrl'], function(){
    $this->app->router->post('/','ParamController@create');
    $this->app->router->get('/','ParamController@all');
    $this->app->router->get('/{id}','ParamController@get');
    $this->app->router->put('/{id}','ParamController@update');
    $this->app->router->delete('/{id}','ParamController@delete');
});
