    /**
        * @OA\Property(
        *   format="ParamUdt",
        *   title="ParamName",
        *   description="ParamDescription"
        * )
        * 
        * @var ParamType
        * 
    */
    private $ParamName;
    